.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  outline: none;
  width: 80vw;
  > div {
    max-height: 85vh;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
    &::-webkit-scrollbar-thumb {
      background: #b4dbfb;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #64868f;
    }
  }
  @media (max-width: 600px) {
    width: 95vw;
  }
}
